<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntermediaryInboundExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tt02.altinn.basefarm.net/IntermediaryExternal/IntermediaryInboundBasic.svc?wsdl"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntermediaryInboundExternalBasic"
          contract="GiveMeSome.IIntermediaryInboundExternalBasic" name="BasicHttpBinding_IIntermediaryInboundExternalBasic" />
      <!--<endpoint address="https://tt02.altinn.basefarm.net/intermediaryexternal/intermediaryinboundbasic.svc?wsdl"
          binding="basichttpbinding" bindingconfiguration="basichttpbinding_iintermediaryinboundexternalbasic1"
          contract="inboundbasic.iintermediaryinboundexternalbasic"
          name="basichttpbinding_iintermediaryinboundexternalbasic1" />-->
    </client>
  </system.serviceModel>
</configuration>