<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntermediaryInboundExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IReceiptExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISystemAuthenticationExternal">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tt02.altinn.basefarm.net/IntermediaryExternal/IntermediaryInboundBasic.svc?wsdl"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntermediaryInboundExternalBasic"
        contract="GiveMeSome.IIntermediaryInboundExternalBasic" name="BasicHttpBinding_IIntermediaryInboundExternalBasic" />
      <endpoint address="https://tt02.altinn.basefarm.net/IntermediaryExternal/ReceiptExternalBasic.svc?wsdl"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiptExternalBasic"
        contract="HowYouDoin.IReceiptExternalBasic" name="BasicHttpBinding_IReceiptExternalBasic" />
      <endpoint address="https://tt02.altinn.basefarm.net/AuthenticationExternal/SystemAuthentication.svc?wsdl"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemAuthenticationExternal"
        contract="Authenticate.ISystemAuthenticationExternal" name="BasicHttpBinding_ISystemAuthenticationExternal" />
    </client>
  </system.serviceModel>
</configuration>